CASC_JENKINS_CONFIG=/var/jenkins_casc.yml
GITHUB_ID=CHANGE_ME
GITHUB_SECRET=CHANGE_ME
JENKINS_HOST=http://localhost:8080
SLACK_URL=http://localhost
SLACK_TOKEN=CHANGE_ME
GITHUB_USERNAME=CHANGE_ME
GITHUB_PASSWORD=CHANGE_ME
GITHUB_SSH_USER=CHANGE_ME
GITHUB_SSH_PRIVATE_KEY=CHANGE_ME
SAML_XML=CHANGE_ME
SAML_URL=http://localhost
GITHUB_REPO_JOB_DSL=